# Ignore VS Code workspace files
*.code-workspace

# Ignore Python cache and logs
__pycache__/
*.pyc
*.pyo
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment
venv/
env/

# Ignore secrets (if applicable)
passwd.txt
series_numbers.txt
